.blue-back, .logo     { background: #2C77A9; }
.orange-back, .header { background: #FF9600; }
.blue   { color: #2C77A9; }
.orange { color: #FF9600; }
.fff    { color: #FFFFFF; }
h1, h2, h3, h4 { font-weight: 900; }
h2 { font-size: 38px; }
.header h1 { font-family: "Arial"; font-weight: 900; color: white; font-size: 60px; padding-bottom: 29px; text-indent: 20px; }
p {font-size: 20px; margin-bottom: 25px;  }
p.heavy { font-weight: bold; font-size: 24px; }
section.row, footer.row {
  padding-top: 60px;
  padding-bottom: 80px;
}
.button {
  background: #2C77A9;
  display: inline-block;
  color: white; font-weight: bold; font-size: 22px;
  border: 3px solid white;
  box-shadow: 8px 8px 0px #333;
  margin: 15px 0px;
  padding: 13px 22px;
  transition: all 0.4s ease 0s;
}
.button.large-button {
  font-size: 32px; font-weight: 900; margin: 80px auto; display: block;
}
.button.orange-button {
  background: #FF9600;
}
.button:hover {
  color: white;
  text-decoration: none;
  box-shadow: 0px 0px 0px #AAA;
}

.main-percentage { margin: 25px auto; }
.main-percentage .number { font-size: 62px; color: #FF9600; font-weight: 900; }
.prog-bar { background: rgba(44, 119, 169, 0.4); margin-top: 25px; }
.prog-bar .prog-bar-fill { height: 35px; background: #2C77A9; }
.main-percentage + p { font-size: 30px; }
.digit { font-size: 36px; font-weight: 900; color: #FF9600; }

.row.yearly-stats { padding-top: 0px; }
.row.yearly-stats h2 { border-bottom: 3px solid #2C77A9; text-align: right; margin-left: -15px; }

.small-stat { margin-top: 15px; }
.small-stat .prog-bar { margin-top: 10px; }
.small-stat .prog-bar-fill { height: 25px; }
.small-stat .blue, .small-stat .orange { font-size: 38px; font-weight: bold; }

.separator { height: 50px; display: block; clear: both; }

.in-shade { box-shadow: inset 0px 25px 15px -15px rgba(44,119,169,0.5);}

textarea.big-blue {
  border: 3px solid #2C77A9;
  box-shadow: 8px 8px 0px #333;
  margin: 15px 0px;
  width: 100%;
  display: block; clear: both;
}

footer { color: #fff; }
footer p { font-size: 18px; }
footer .socials a { color: #FFF; }
.ter-mb { max-width: 233px; }
