<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ОПОРА</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://use.fontawesome.com/ff50c4964e.js"></script>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container-fluid">

      <section class="row blue-back">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="fff">Де захована проблема?</h1>
          <p class="fff">Ви щойно “звільнили” дані з одного зі звітів політичної партії. Введені
дані будуть додані до бази після верифікації. Ви можете продовжити
роботу та “звільнити” ще один документ. Також ви можете звантажити
ті дані, які вже верифіковані.</p>
        </div>

      </section>
      <section class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="main-percentage row">
            <div class="col-md-2 number">23%</div>
            <div class="col-md-10">
              <div class=" prog-bar">
                <div class="prog-bar-fill" style="width: 23%;"></div>
              </div>
            </div>
          </div>
          <div class="separator"></div>
          <div class="col-md-4 col-md-offset-2"><a href="" class="button pull-right">ЗВІЛЬНИТИ ДАНІ</a></div>
          <div class="col-md-4 col-md-offset-1"><a href="" class="button orange-button">ЗВАНТАЖИТИ ДАНІ</a></div>
        </div>
      </section>


      <section class="row in-shade">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="blue">Що далі</h2>
          <p class="blue">Якщо ви помітили що-небудь цікаве, заповніть будь ласка форму. Також просимо заповнити форму, якщо хочете повідомити щось нам про функціонал інструменту.</p>
          <textarea class="big-blue" rows="12" name="feedback" id="feedback"></textarea>
          <a href="" class="button">НАДІСЛАТИ</a>
          <div class="separator"></div>
        </div>
      </section>


      <footer class="row blue-back">
        <div class="col-md-6 col-md-offset-3">
          <div class="row">

            <div class="col-md-4">
              <a href="https://www.oporaua.org/" target="_blank"><img src="images/opora_footer.png" alt="ОПОРА" class="img-responsive center-block"></a>
              <div class="separator"></div>
              <div class="row socials">
                <div class="col-md-4 text-center"><a href="#"><i class="fa fa-facebook-square fa-fw fa-3x"></i></a></div>
                <div class="col-md-4 text-center"><a href="#"><i class="fa fa-twitter-square fa-fw fa-3x"></i></a></div>
                <div class="col-md-4 text-center"><a href="#"><i class="fa fa-github-alt fa-fw fa-3x"></i></a></div>
              </div>
              <div class="separator"></div>
            </div>

            <div class="col-md-8">
              <p class="fff">Цей інструмент був розроблений під час сесії <span class="orange">Replication Sprint 2</span>, яку організувала організація <span class="orange">The Engine Room</span>. ОПОРА щиро вдячна команді, яка працювала над проектом.</p>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4 text-center">
              With the support of
              <a href="https://thematchbox.io" target="_blank"><img class="ter-mb img-responsive center-block" src="images/ter-mb-logo.png"></a>
            </div>
            <div class="separator"></div>
          </div>

          <div class="row">
            <div class="col-md-4"><a href="https://web.burza.hr/" target="_blank"><img  alt="web.burza" class=" img-responsive center-block" src="images/webburza.jpg"></a></div>
            <div class="col-md-3"><a href="http://leavenlab.com/" target="_blank"><img  alt="Leaven Lab"  class=" img-responsive center-block" src="images/leavenlab.jpg"></a></div>
            <div class="col-md-2"><a href="https://level73.it" target="_blank"><img  alt="Level73" class=" img-responsive center-block" src="images/lvl73.jpg"></a></div>
            <div class="col-md-3"><a href="https://epf.org.pl/en/" target="_blank"><img  alt="Epanstwo Foundation" class=" img-responsive center-block" src="images/epanstwo.jpg"></a></div>
          </div>

        </div>
      </footer>

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
