{% load static %}
<footer class="row blue-back">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">

      <div class="col-md-4">
        <a href="https://www.oporaua.org/" target="_blank"><img src="{% static "images/opora_footer.png" %}" alt="ОПОРА" class="img-responsive center-block"></a>
        <div class="separator"></div>
        <div class="row socials">
          <div class="col-md-4 text-center"><a href="#"><i class="fa fa-facebook-square fa-fw fa-3x"></i></a></div>
          <div class="col-md-4 text-center"><a href="#"><i class="fa fa-twitter-square fa-fw fa-3x"></i></a></div>
          <div class="col-md-4 text-center"><a href="#"><i class="fa fa-github-alt fa-fw fa-3x"></i></a></div>
        </div>
        <div class="separator"></div>
      </div>

      <div class="col-md-8">
        <p class="fff">Цей інструмент був розроблений під час сесії <span class="orange">Replication Sprint 2</span>, яку організувала організація <span class="orange">The Engine Room</span>. ОПОРА щиро вдячна команді, яка працювала над проектом.</p>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4 text-center">
        With the support of
        <a href="https://thematchbox.io" target="_blank"><img class="ter-mb img-responsive center-block" src="{% static "images/ter-mb-logo.png" %}"></a>
      </div>
      <div class="separator"></div>
    </div>

    <div class="row">
      <div class="col-md-4"><a href="https://web.burza.hr/" target="_blank"><img  alt="web.burza" class=" img-responsive center-block" src="{% static "images/webburza.jpg" %}"></a></div>
      <div class="col-md-3"><a href="http://leavenlab.com/" target="_blank"><img  alt="Leaven Lab"  class=" img-responsive center-block" src="{% static "images/leavenlab.jpg" %}"></a></div>
      <div class="col-md-2"><a href="https://level73.it" target="_blank"><img  alt="Level73" class=" img-responsive center-block" src="{% static "images/lvl73.jpg" %}"></a></div>
      <div class="col-md-3"><a href="https://epf.org.pl/en/" target="_blank"><img  alt="Epanstwo Foundation" class=" img-responsive center-block" src="{% static "images/epanstwo.jpg" %}"></a></div>
    </div>

  </div>
</footer>