{% extends "base.html" %}

{% load static %}
{% load moonsheep %}

{% block content %}
<div class="container-fluid">
  <header class="row">
    <div class="col-md-3 logo"><img src="{% static "images/opora_logo.png" %}" alt="ОПОРА" class="img-responsive center-block"></div>
    <div class="col-md-9 header">
      <h1>ДОНОРИ ПАРТІЙ</h1>
    </div>
  </header>
  <section class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="blue">Де захована проблема?</h2>
      <p class="blue">Починаючи з 2016 року політичні партії подають звіти до
      Національного агентства з питань запобігання корупції. Агентство
      публікує звіти у такому вигляді, що інформація з них є непридатною
      для детального аналізу з боку громадськості. Зазвичай звіт партії -
      це pdf-файл на сотню сторінок.</p>
      <p class="orange heavy">Наша мета “звільнити” ці дані та оцифрувати
      доступні звіти, а саму інформацію подати у
      структурованому вигляді, що допоможе
      дослідникам використати її. На цьому етапі ми
      вирішили сконцентруватися на донорах партій.</p>
      <a class="button" href="{% url "transcription" %}">СТАРТУЄМО</a>
    </div>

  </section>
  <section class="row blue-back">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="fff">Нам потрібна ваша допомога</h2>
      <p class="fff">
      Ми створили інструмент, що дозволяє оцифровувати документи, та
      старались, щоб процес роботи був зручним та інтуїтивним. Чим
      більше людей долучиться до роботи, тим швидше інформація про
      донорів партій буде “звільнена”. Робота з одним звітом займе
      приблизно 20 хвилин вашого часу. Але цей час буде витрачений на
      те, щоб зробити інформацію про донорів політичних партій й
      справді прозорою та відкритою.
      </p>
      <a class="button" href="#">ХОЧУ ДОПОМОГТИ</a>
    </div>
  </section>

  <section class="row">
    <div class="col-md-8 col-md-offset-3">
      <h2 class="blue">Сатистика</h2>
      {% stats_documents_verified as docs %}

      <div class="main-percentage row">
        <div class="col-md-2 number">{{ docs.total_progress|floatformat:0 }}%</div>
        <div class="col-md-10">
          <div class=" prog-bar">
            <div class="prog-bar-fill" style="width: {{ docs.total_progress|floatformat:0 }}%;"></div>
          </div>
        </div>
      </div>
      <p class="blue">
        Ми разом оцифрували <span class="digit">{{ docs.verified }}</span> документів з доступних <span class="digit">{{ docs.total }}</span>. Залишилось опрацювати <span class="digit">{{ docs.remaining }}</span> документів
      </p>
    </div>
  </section>

  <section class="row yearly-stats">
    <div class="col-md-6">
      <h2 class="blue heavy">2016</h2>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="row">
        <div class="col-md-6 small-stat">
          <span class="blue">Q1: </span><span class="orange">86%</span>
          <div class=" prog-bar">
            <div class="prog-bar-fill" style="width: 86%;"></div>
          </div>
        </div>

        <div class="col-md-6 small-stat">
          <span class="blue">Q2: </span><span class="orange">77%</span>
          <div class=" prog-bar">
            <div class="prog-bar-fill" style="width: 77%;"></div>
          </div>
        </div>

        <div class="col-md-6 small-stat">
          <span class="blue">Q3: </span><span class="orange">44%</span>
          <div class=" prog-bar">
            <div class="prog-bar-fill" style="width: 44%;"></div>
          </div>
        </div>

        <div class="col-md-6 small-stat">
          <span class="blue">Q4: </span><span class="orange">7%</span>
          <div class=" prog-bar">
            <div class="prog-bar-fill" style="width: 7%;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator"></div>
    <div class="col-md-3 col-md-offset-3"><a href="" class="button pull-right">ЗВІЛЬНИТИ ДАНІ</a></div>
    <div class="col-md-3 col-md-offset-1"><a href="" class="button orange-button">ЗВАНТАЖИТИ ДАНІ</a></div>
  </section>

  <section class="row in-shade">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="blue">Хто ми і що ми робимо?</h2>
      <p class="blue">Ми - <strong class="orange">ОПОРА</strong>. Наш основний фокус - тема виборів в Україні. Також
ми цікавимося діяльністю українського парламенту. Ми працюємо з
2006 року. Останнім часом нас надихають та захоплюють
технологічні рішення, які дозволяють зробити роботу громадських
активістів більш ефективною, цікавішою та результативнішою. Ми
зробили цей інструмент не для себе, а для всіх. Результати його
роботи та зібрані дані можуть вільно використовуватися. Взамін ми
очікуємо тільки на ваш вклад у вигляді часу витраченого на
досягнення спільного результату.</p>
    <a href="" class="button">ХОЧУ ДОПОМОГТИ</a>
    </div>
  </section>

  <section class="row orange-back">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="fff">Як щодо приватності?</h2>
      <p class="fff">Ми пам’ятаємо та поважаємо ваше право на приватність. Саме
тому ми не проситимемо вас надавати жодної персональної
інформації під час роботи з цим інструментом.</p>
    </div>
  </section>

  <section class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="blue">Ще трохи більше інформації</h2>
      <p class="blue">Весь матеріал для роботи ми взяли з <strong class="orange">сайту Національного
агентства з питань запобігання корупції</strong>. Якщо ви хочете
попрацювати з іншими блоками інформації зі звітів політичних
партій, не тільки із відомостями про донорів, то вам неодмінно
потрібно зайти на <strong class="orange">ftp-сервер агентства</strong>. Також, ми знаємо, що зі
звітами партій працюють Громадський рух ЧЕСНО - <strong class="orange">проект
“Золото партій”</strong>, та Центр Ейдос - <strong class="orange">проект “Партійна каса”</strong>. Наша
робота може допомогти в роботі обом цим проектам.</p>

    <a href="" class="button">ЗВІЛЬНИТИ ДАНІ</a>
    </div>
  </section>

  {% include "footer.html" %}
</div>
{% endblock %}