{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Welcome to moonsheep!</h1>
      <form action="/intro/">
        <button class="btn bg-opora" type="submit">Contribute!</button>
      </form>
      <ul>
        <li>1 000 000 volunteers</li>
        <li>900 documents</li>
        <li>
          <strong>90% of our goal reached!</strong>
        </li>
      </ul>
      <h2>What do we do?</h2>
      <p>Text</p>
    </div>
  </div>
</div>
{% endblock %}