{% extends "transcription.html" %}

{% load static %}
{% load moonsheep_token %}

{% block content %}
<div id="task">
  {% block task-fill Procfile%}
  <form id="taskForm" action="#" method="post">
    {% csrf_token %}
    {% moonsheep_token task %}
    <div class="row-fluid">
      <div class="col-md-12">
      {% block task-form %}
      {% endblock %}
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-3 col-md-offset-3 text-center">
        <button type="submit" class="button large-button">уявити</button>
      </div>
      <div class="col-md-3 text-center">
        <button type="submit" class="button">уявити</button>
      </div>
    </div>
  </form>
  {% endblock %}
</div>
{% endblock %}

{% block scripts %}
  <script type="application/javascript" src="{% static "js/api/transcript.js" %}"></script>
{% endblock %}