{% extends "transcription.html" %}

{% load static %}
{% load moonsheep %}

{% block content %}
<div id="task">
  {% block task-fill %}
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
    {% endif %}
  <form id="taskForm" action="#" method="post">
    {% csrf_token %}
    {% moonsheep_token task %}
    <div class="row-fluid">
      <div class="col-md-12">
        {% if debug %}DEBUG: Current task class: {{ task.id }}{% endif %}
      {% block task-form %}
      {% endblock %}
      </div>
    </div>
{#    <div class="row-fluid">#}
{#      <div class="col-md-3 col-md-offset-3 text-center">#}
        <button type="submit" class="button large-button">уявити</button>
{#      </div>#}
{#      <div class="col-md-3 text-center">#}
{#        <button type="submit" class="button">уявити</button>#}
{#      </div>#}
{#    </div>#}
  </form>
  {% endblock %}
</div>
{% endblock %}

{% block scripts %}
  <script type="application/javascript" src="{% static "js/api/transcript.js" %}"></script>
{% endblock %}