{% extends "tasks/base_form.html" %}

{% load static %}

{% block task-form %}
<h3>Find the following data on the 1st page of the report:</h3>
<div class="row">
  <div class="col-md-4">
    <div class="form-group{% if form.errors.party_name %} has-error{% endif %}">
      <label for="id_party_name" class="orange">Party name</label>
      <input type="text" class="form-control" name="party_name" id="id_party_name" aria-describedby="party_name_help" placeholder="Enter party name" required>
      {% if form.errors.party_name %}<span class="help-block">{{ form.errors.party_name }}</span>{% endif %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group{% if form.errors.party_legal_id %} has-error{% endif %}">
      <label for="id_party_legal_id" class="orange">Party legal ID</label>
      <input type="text" class="form-control" name="party_legal_id" id="id_party_legal_id" aria-describedby="party_legal_id_help" placeholder="Enter party legal ID" required>
      {% if form.errors.party_legal_id %}<span class="help-block">{{ form.errors.party_legal_id }}</span>{% endif %}
    </div>
  </div>
</div>
<h3>Scroll the report to find tables containing the following informations:</h3>
<div class="row">
  <h4>1.1. Contributions by money to political party accounts</h4>
  <div class="form-inline">
    <div class="col-md-6 form-group page-range">
      <label class="orange">1) from individuals</label>
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label" for="id_page_start_111">Pages:</label>
          <input type="number" class="form-control page-input" name="page_start_111" id="id_page_start_111">
          -
          <input type="number" class="form-control page-input" name="page_end_111" id="id_page_end_111">
        </div>
        <div class="form-group">
          <label class="control-label" for="id_total_funds_111">Total funds:</label>
          <input type="text"
                 class="form-control"
                 name="total_funds_111"
                 id="id_total_funds_111">
        </div>
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="no_pages_111" id="id_no_pages_111" value="true"> No table
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group page-range">
      <label class="orange">2) from legal entities</label>
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label" for="id_page_start_112">Pages:</label>
          <input type="number" class="form-control page-input" name="page_start_112" id="id_page_start_112">
          -
          <input type="number" class="form-control page-input" name="page_end_112" id="id_page_end_112">
        </div>
        <div class="form-group">
          <label class="control-label" for="id_total_funds_112">Total funds:</label>
          <input type="text"
                 class="form-control"
                 name="total_funds_112"
                 id="id_total_funds_112">
        </div>
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="no_pages_112" id="id_no_pages_112" value="option1"> No table
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h4>1.2. Information on the return and transfer to the State Budget of Ukraine funds received in violation of the law on political party accounts</h4>
  <div class="form-inline">
    <div class="col-md-6 form-group page-range">
      <label class="orange">1) from individuals</label>
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label" for="id_page_start_121">Pages:</label>
          <input type="number" class="form-control page-input" name="page_start_121" id="id_page_start_121">
          -
          <input type="number" class="form-control page-input" name="page_end_121" id="id_page_end_121">
        </div>
        <div class="form-group">
          <label class="control-label" for="id_total_funds_121">Total funds:</label>
          <input type="text"
                 class="form-control"
                 name="total_funds_121"
                 id="id_total_funds_121">
        </div>
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="no_pages_121" id="id_no_pages_121" value="option1"> No table
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group page-range">
      <label class="orange">2) from legal entities</label>
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label" for="id_page_start_122">Pages:</label>
          <input type="number" class="form-control page-input" name="page_start_122" id="id_page_start_122">
          -
          <input type="number" class="form-control page-input" name="page_end_122" id="id_page_end_122">
        </div>
        <div class="form-group">
          <label class="control-label" for="id_total_funds_122">Total funds:</label>
          <input type="text"
                 class="form-control"
                 name="total_funds_122"
                 id="id_total_funds_122">
        </div>
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="no_pages_122" id="id_no_pages_122" value="option1"> No table
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h4>1.3. Information on the return and transfer to the State Budget of Ukraine funds received by political parties in error</h4>
  <div class="form-inline">
    <div class="col-md-6 form-group page-range">
      <label class="orange">1) from individuals</label>
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label" for="id_page_start_131">Pages:</label>
          <input type="number" class="form-control page-input" name="page_start_131" id="id_page_start_131">
          -
          <input type="number" class="form-control page-input" name="page_end_131" id="id_page_end_131">
        </div>
        <div class="form-group">
          <label class="control-label" for="id_total_funds_131">Total funds:</label>
          <input type="text"
                 class="form-control"
                 name="total_funds_131"
                 id="id_total_funds_131">
        </div>
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="no_pages_131" id="id_no_pages_131" value="option1"> No table
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group page-range">
      <label class="orange">2) from legal entities</label>
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label" for="id_page_start_132">Pages:</label>
          <input type="number" class="form-control page-input" name="page_start_132" id="id_page_start_132">
          -
          <input type="number" class="form-control page-input" name="page_end_132" id="id_page_end_132">
        </div>
        <div class="form-group">
          <label class="control-label" for="id_total_funds_132">Total funds:</label>
          <input type="text"
                 class="form-control"
                 name="total_funds_132"
                 id="id_total_funds_132">
        </div>
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="no_pages_132" id="id_no_pages_132" value="option1"> No table
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h4>1.4. Contributions by money to the accounts of the election fund of a political party</h4>
  <div class="form-inline">
    <div class="col-md-6 form-group page-range">
      <label class="orange">1) from individuals</label>
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label" for="id_page_start_211">Pages:</label>
          <input type="number" class="form-control page-input" name="page_start_211" id="id_page_start_211">
          -
          <input type="number" class="form-control page-input" name="page_end_211" id="id_page_end_211">
        </div>
        <div class="form-group">
          <label class="control-label" for="id_total_funds_211">Total funds:</label>
          <input type="text"
                 class="form-control"
                 name="total_funds_211"
                 id="id_total_funds_211">
        </div>
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="no_pages_211" id="id_no_pages_211" value="option1"> No table
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group page-range">
      <label class="orange">2) from legal entities</label>
      <div class="form-inline page-range">
        <div class="form-group">
          <label class="control-label" for="id_page_start_212">Pages:</label>
          <input type="number" class="form-control page-input" name="page_start_212" id="id_page_start_212" placeholder="First page">
          -
          <input type="number" class="form-control page-input" name="page_end_212" id="id_page_end_212" placeholder="Last page">
        </div>
        <div class="form-group">
          <label class="control-label" for="id_total_funds_212">Total funds:</label>
          <input type="text"
                 class="form-control"
                 name="total_funds_212"
                 id="id_total_funds_212">
        </div>
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="no_pages_212" id="id_no_pages_212" value="option1"> No table
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h4>1.5. Information about the return and transfer to the State Budget of Ukraine of cash received in violation of the legislation requirements on the accounts of the election fund</h4>
  <div class="form-inline">
    <div class="col-md-6 form-group page-range">
      <label class="orange">1) from individuals</label>
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label" for="id_page_start_221">Pages:</label>
          <input type="number" class="form-control page-input" name="page_start_221" id="id_page_start_221">
          -
          <input type="number" class="form-control page-input" name="page_end_221" id="id_page_end_221">
        </div>
        <div class="form-group">
          <label class="control-label" for="id_total_funds_221">Total funds:</label>
          <input type="text"
                 class="form-control"
                 name="total_funds_221"
                 id="id_total_funds_221">
        </div>
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="no_pages_221" id="id_no_pages_221" value="option1"> No table
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group page-range">
      <label class="orange">2) from legal entities</label>
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label" for="id_page_start_222">Pages:</label>
          <input type="number" class="form-control page-input" name="page_start_222" id="id_page_start_222">
          -
          <input type="number" class="form-control page-input" name="page_end_222" id="id_page_end_222">
        </div>
        <div class="form-group">
          <label class="control-label" for="id_total_funds_222">Total funds:</label>
          <input type="text"
                 class="form-control"
                 name="total_funds_222"
                 id="id_total_funds_222">
        </div>
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="no_pages_222" id="id_no_pages_222" value="option1"> No table
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h4>1.6. Information about the return and transfer to the State Budget of Ukraine of cash received by mistake on the accounts of the election fund</h4>
  <div class="form-inline">
    <div class="col-md-6 form-group page-range">
      <label class="orange">1) from individuals</label>
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label" for="id_page_start_231">Pages:</label>
          <input type="number" class="form-control page-input" name="page_start_231" id="id_page_start_231">
          -
          <input type="number" class="form-control page-input" name="page_end_231" id="id_page_end_231">
        </div>
        <div class="form-group">
          <label class="control-label" for="id_total_funds_231">Total funds:</label>
          <input type="text"
                 class="form-control"
                 name="total_funds_231"
                 id="id_total_funds_231">
        </div>
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="no_pages_231" id="id_no_pages_231" value="option1"> No table
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group page-range">
      <label class="orange">2) from legal entities</label>
      <div class="form-inline">
        <div class="form-group">
          <label class="control-label" for="id_page_start_232">Pages:</label>
          <input type="number" class="form-control page-input" name="page_start_232" id="id_page_start_232">
          -
          <input type="number" class="form-control page-input" name="page_end_232" id="id_page_end_232">
        </div>
        <div class="form-group">
          <label class="control-label" for="id_total_funds_232">Total funds:</label>
          <input type="text"
                 class="form-control"
                 name="total_funds_232"
                 id="id_total_funds_232">
        </div>
        <div class="form-group form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="no_pages_232" id="id_no_pages_232" value="option1"> No table
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="form-group{% if form.errors.date %} has-error{% endif %}">
      <label for="id_date" class="orange">Report date</label>
      <input type="date" class="form-control" name="date" id="id_date" aria-describedby="date_help" placeholder="Enter report date" required>
      {% if form.errors.date %}<span class="help-block">{{ form.errors.date }}</span>{% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static "css/tasks.css" %}">
{% endblock %}

{#{% block scripts %}#}
{#  <script src="{% static "js/api/find_table.js" %}"></script>#}
{#{% endblock %}#}