{% extends "tasks/base_form.html" %}

{% block task-form %}
<h3>Find transaction IDs on page {{ task.page }}</h3>
<h4>
  {% if task.transaction_type == 1 and task.money_destination == 1 %}
  1.1. Contributions by money to political party accounts
  {% elif task.transaction_type == 2 and task.money_destination == 1 %}
  1.2. Information on the return and transfer to the State Budget of Ukraine funds received in violation of the law on political party accounts
  {% elif task.transaction_type == 3 and task.money_destination == 1 %}
  1.3. Information on the return and transfer to the State Budget of Ukraine funds received by political parties in error
  {% elif task.transaction_type == 1 and task.money_destination == 2 %}
  1.4. Contributions by money to the accounts of the election fund of a political party
  {% elif task.transaction_type == 2 and task.money_destination == 2 %}
  1.5. Information about the return and transfer to the State Budget of Ukraine of cash received in violation of the legislation requirements on the accounts of the election fund
  {% elif task.transaction_type == 3 and task.money_destination == 2 %}
  1.6. Information about the return and transfer to the State Budget of Ukraine of cash received by mistake on the accounts of the election fund
  {% endif %}
</h4>
<h4 class="orange">
  {% if task.legal_identification == 1 %}
  1) from individuals
  {% elif task.legal_identification == 2 %}
  2) from legal entities
  {% endif %}
</h4>
<div class="col-md-8">
  <div class="form-group">
    <label class="control-label" for="id_transaction_ids">Provide transaction IDs</label>
    <input type="text"
           class="form-control"
           name="transaction_ids"
           id="id_transaction_ids"
           placeholder="Transaction IDs"
           aria-describedby="transaction_ids_help"
           required>
    {{ form.errors.transaction_ids }}
  </div>
</div>
<div class="col-md-4">
  <div class="form-group{% if form.errors.total_funds %} has-error{% endif %}">
    <label class="control-label" for="id_total_funds">Total funds</label>
    <input type="text"
           class="form-control"
           name="total_funds"
           id="id_total_funds"
           placeholder="Enter total funds"
           required>
    {% if form.errors.total_funds %}<span class="help-block">{{ form.errors.total_funds }}</span>{% endif %}
  </div>
</div>
{% endblock %}