{% extends "tasks/base_form.html" %}

{% block task-form %}
<h3>Scroll the document to page {{ task.page }}. Find transaction (donation) with bank ID = {{ task.transaction_id }} and rewrite it:</h3>

<section class="row" id="section1-1">
<div class="col-md-12">
  <div class="table-wrapper">
    <table class="table sevencols">
      <thead>
        <tr>
          <th class="form-group{% if form.errors.receipt_date %} has-error{% endif %}">
            <label class="control-label" for="id_receipt_date">
              Дата надходження внеску
            </label>
          </th>
          <th class="form-group{% if form.errors.account_type %} has-error{% endif %}">
            <label class="control-label" for="id_amount">
              Вид рахунку
            </label>
          </th>
          <th class="form-group{% if form.errors.payee_name %} has-error{% endif %}">
            <label class="control-label" for="id_payee_name">
              Прізвище, ім’я, по батькові платника
            </label>
          </th>
          <th class="form-group{% if form.errors.transaction_id %} has-error{% endif %}">
            <label class="control-label" for="id_transaction_id">
              Номер розрахункового документа
            </label>
          </th>
          <th class="form-group{% if form.errors.payee_identification %} has-error{% endif %}">
            <label class="control-label" for="id_payee_identification">
              РНОКПП або серія та номер паспорта з відміткою
            </label>
          </th>
          <th class="form-group{% if form.errors.payee_address %} has-error{% endif %}">
            <label class="control-label" for="id_payee_address">
              Місце проживання платника
            </label>
          </th>
          <th class="form-group{% if form.errors.amount %} has-error{% endif %}">
            <label class="control-label" for="id_amount">
              Сума (грн)
            </label>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="replicator">
          <td class="form-group{% if form.errors.receipt_date %} has-error{% endif %}">
            <input type="date" class="form-control input-sm" id="id_receipt_date" name="receipt_date">
            {% if form.errors.receipt_date %}<span class="help-block">{{ form.errors.receipt_date }}</span>{% endif %}
          </td>
          <td class="form-group{% if form.errors.account_type %} has-error{% endif %}">
            <input type="text" class="form-control input-sm" id="id_account_type" name="account_type">
            {% if form.errors.account_type %}<span class="help-block">{{ form.errors.account_type }}</span>{% endif %}
          </td>
          <td class="form-group{% if form.errors.payee_name %} has-error{% endif %}">
            <input type="text" class="form-control input-sm" id="id_payee_name" name="payee_name">
            {% if form.errors.payee_name %}<span class="help-block">{{ form.errors.payee_name }}</span>{% endif %}
          </td>
          <td class="form-group{% if form.errors.transaction_id %} has-error{% endif %}">
            <input type="text" class="form-control input-sm" id="id_transaction_id" value="{{ task.transaction_id }}" disabled>
            {% if form.errors.transaction_id %}<span class="help-block">{{ form.errors.transaction_id }}</span>{% endif %}
          </td>
          <td class="form-group{% if form.errors.payee_identification %} has-error{% endif %}">
            <input type="text" class="form-control input-sm" id="id_payee_identification" name="payee_identification">
            {% if form.errors.payee_identification %}<span class="help-block">{{ form.errors.payee_identification }}</span>{% endif %}
          </td>
          <td class="form-group{% if form.errors.payee_address %} has-error{% endif %}">
            <input type="text" class="form-control input-sm" id="id_payee_address" name="payee_address">
            {% if form.errors.payee_address %}<span class="help-block">{{ form.errors.payee_address }}</span>{% endif %}
          </td>
          <td class="form-group{% if form.errors.amount %} has-error{% endif %}">
            <input type="text" class="form-control input-sm last" id="id_amount" name="amount">
            {% if form.errors.amount %}<span class="help-block">{{ form.errors.amount }}</span>{% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</section>
{% endblock %}