{% extends "tasks/base_form.html" %}

{% block task-form %}
<h3>Scroll the document to page {{ task.page }}. Find transaction (donation) with bank ID = {{ task.transaction_id }} and rewrite it:</h3>

<section class="row" id="section1-1">
<div class="col-md-12">
  <div class="table-wrapper">
    <table class="table sevencols">
      <thead>
        <tr>
          <th>Дата надходження внеску</th>
          <th>Вид рахунку</th>
          <th>Прізвище, ім’я, по батькові платника</th>
          <th>Номер розрахункового документа</th>
          <th>РНОКПП або серія та номер паспорта з відміткою</th>
          <th>Місце проживання платника</th>
          <th>Сума (грн)</th>
        </tr>
      </thead>
      <tbody>
        <tr class="replicator">
          <td><input type="date" class="form-control input-sm" id="id_receipt_date" name="receipt_date"></td>
          <td><input type="text" class="form-control input-sm" id="id_account_type" name="account_type"></td>
          <td><input type="text" class="form-control input-sm" id="id_payee_name" name="payee_name"></td>
          <td><input type="text" class="form-control input-sm" value="{{ task.transaction_id }}" disabled></td>
          <td><input type="text" class="form-control input-sm" id="id_payee_identification" name="payee_identification"></td>
          <td><input type="text" class="form-control input-sm" id="id_payee_address" name="payee_address"></td>
          <td><input type="text" class="form-control input-sm last" id="id_amount" name="amount"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</section>
{% endblock %}