{% extends "tasks/base_form.html" %}

{% block task-form %}
<h3>Scroll the document to page {{ task.page }}. Find transaction (return) with bank ID = {{ task.transaction_id }} and rewrite it:</h3>

<section class="row" id="section1-1">
<div class="col-md-12">
  <div class="table-wrapper">
    <table class="table sevencols">
      <thead>
        <tr>
          <th>Дата надходження внеску</th>
          <th>Загальна сума коштів</th>
          <th>Номер розрахункового документа</th>
          <th>Прізвище, ім’я, по батькові особи, від якої отримано кошти</th>
          <th>РНОКПП або серія та номер паспорта з відміткою </th>
          <th>Місце проживання особи</th>
          <th>Дата повер-нення</th>
          <th>Номер розрахунково-го документа</th>
          <th>Обґрунтува-ння повернення</th>
          <th>Сума повернення (грн)</th>
          <th>Сума, яка перераховуєть-ся до бюджету (грн)</th>
        </tr>
      </thead>
      <tbody>
        <tr class="replicator">
          <td><input type="date" class="form-control input-sm" id="id_receipt_date" name="receipt_date"></td>
          <td><input type="text" class="form-control input-sm" id="id_amount" name="amount"></td>
          <td><input type="text" class="form-control input-sm" value="{{ task.transaction_id }}" disabled></td>
          <td><input type="text" class="form-control input-sm" id="id_payee_name" name="payee_name"></td>
          <td><input type="text" class="form-control input-sm" id="id_payee_identification" name="payee_identification"></td>
          <td><input type="text" class="form-control input-sm" id="id_payee_address" name="payee_address"></td>
          <td><input type="date" class="form-control input-sm" id="id_date" name="date"></td>
          <td><input type="text" class="form-control input-sm" id="id_document_id" name="document_id"></td>
          <td><input type="text" class="form-control input-sm" id="id_explanation" name="explanation"></td>
          <td><input type="text" class="form-control input-sm" id="id_amount_to_payee" name="amount_to_payee"></td>
          <td><input type="text" class="form-control input-sm last" id="id_amount_to_state_budget" name="amount_to_state_budget"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</section>
{% endblock %}